
/* Your CSS Code here. */
.video-player {
  max-width: 640px;
  margin: auto;
}

.controls {
  display: flex;
	align-items:center;
}

.progress {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: relative;
  margin: 15px 10px;
}

.progress__filled {
  height: 100%;
  background: #2a7ae2; /* Use your Heading 1 color */
  width: 0;
}

button {
  cursor: pointer;
}

input[type="range"],
input[type="number"] {
  margin: 0 10px;
}
